.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    display: inline-block;
}

.price {
    color: grey;
    font-size: 22px;
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    color: rgb(14, 168, 220);
}

#list {
    text-align: center;
    top: 40px;
}